body{
	font-family: verdana, arial;
	padding-left:2%;
	padding-right:2%;
	background-image: url(../img/copa02.jpg);
	background-size: cover;
}

.hero-unit {
	margin-top:80px;
	background-image: url(../img/fondo.jpg);
	background-size: 100%;
}


.navbar{
	background-color: #E6E6FA;
}


.navbar-inner{
	background-color: #E6E6FA;
}

.container{
	background-color: #E6E6FA;
}

.brand {
	background-color: #E6E6FA;
}



#content {
	margin-top:80px;
	}




#encabezado{
	height: 90px;
	padding: 20px;
}


#logo{
	color:#FF4000;
	text-shadow: 0.1em 0.1em 0.05em #333;
}


#menu{
	margin-top:20px;
	float:right;
}


#izquierda{
	color:#fff;
	min-height: 300px;
	background: #fff url(../images/bghead.PNG) repeat-x;
	border-radius:5px;
	border: 1px solid #848484;
}


#izquierda h3{
	text-align: center;
	color:#fff;
}


#derecha h3 {
	text-align: center;
	color:#fff;
}


#derecha{
	color:#000;
	min-height: 300px;	
	background: #fff url(../images/bghead.PNG) repeat-x;
	border-radius:5px;
	border: 1px solid #848484;
	padding: 10px
}


#footer{
	background: #0489B1;
	height: 50px;
	text-align: center;
	color:#fff;
}





/* ------------- estilos para
    el título ------------- */
 
#contmiformu legend {
    margin: 0 auto;
    font-size: 2em;
    font-weight: bold;
}
 
/* ------------- estilos para
    el contenedor ------------- */
 
#contmiformu {
  width: 250px; 
  border: 0;
  padding: 3px; 
 }
 
/* ------------- estilos para
    el formulario ------------- */
 
#miformu {
    width: 300px;
    background-image: linear-gradient(bottom, rgb(192,204,20) 47%, rgb(91,240,126) 68%);
	background-image: -o-linear-gradient(bottom, rgb(192,204,20) 47%, rgb(91,240,126) 68%);
	background-image: -moz-linear-gradient(bottom, rgb(192,204,20) 47%, rgb(91,240,126) 68%);
	background-image: -webkit-linear-gradient(bottom, rgb(192,204,20) 47%, rgb(91,240,126) 68%);
	background-image: -ms-linear-gradient(bottom, rgb(192,204,20) 47%, rgb(91,240,126) 68%);
	background-color: #5bf07e;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.47, rgb(192,204,20)), color-stop(0.68, rgb(91,240,126)));
	border-width: 2px;
	border-color: #26600c;
	border-style: solid;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
}
 
 
#miformu label {
	display: block;
    margin:0;
}
 
 
#miformu label span {
	display: block;
	margin-left: 7px;
}
 
 
 
 
 
 
 
 
 
 
 
 
/* ------------- estilos para
    los input y area de texto ------------- */
 
#miformu label input {
    margin-left: 40px;
    margin-top: 5px;
    padding-left: 3px;
    border-color: #ff6a00;
    -moz-transition: all .25s; 
    -webkit-transition: all .25s; 
    -o-transition: all .25s;
    transition: all .25s;
}
 
#miformu label textarea {
    margin-left: 40px;
    margin-top: 5px;
    padding-left: 3px;
    border-color: #ff6a00;
    -moz-transition: all .25s; 
    -webkit-transition: all .25s; 
    -o-transition: all .25s;
    transition: all .25s;
}
 
/* ------------- efectos para
    los input y area de texto ------------- */
 
 
#miformu label input:focus, #miformu label textarea:focus {
    background: #fff; 
    border-color: #0000FF; 
    box-shadow: 0 0 4px #0000FF; 
    padding-right:65px;
    margin-left: 10px;
}
 
#miformu .submit {
    margin-left: 120px;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 7px;
    background-color: #7f7f7;
    cursor: pointer;
    -moz-transition: all .32s; 
    -webkit-transition: all .32s; 
    -o-transition: all .32s;
    transition: all .32s;
    }
 
 
/* ------------- estilos para
     boton de envío ------------- */
 
 
#miformu .submit:hover {
    padding: 3px 5px;
    background-color: #ebe7e7;
    color: #f7f7f7;
    }